h1.Header{
    text-align: center;
    color: firebrick;
    background-color: royalblue;
    background-clip: padding-box;
    border: 4px yellow dotted;
    margin : 5px;
    padding: 10px;
}

body {
    background-color: cadetblue;
}

.Pug1 {
    height: 600%;
    width: 33%;
    border: black 10px ;
    border-bottom-style: dashed;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.Pug2{
    height: 600%;
    width: 41%;
    border: black 10px ;
    border-bottom-style: dashed;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    float: right;
}

.PText{
    text-align: center;
    background-color: aqua;
    margin: 25px 25px 25px 25px;
    padding: 15px 15px 15px 15px;
    width: 180px;
    position: relative;
    bottom: 400px;
    left: 445px;
    border: 10px dotted black;
    background-clip: border-box;
}

.MacarenaText{
    font-size: large;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    background-color: aqua;
    position: relative;
    bottom: 250px;
}

.Text1{
    font-size: large;
    text-indent: 50px;
    background-color: aqua;
    position: relative;
    bottom: 250px;
}

.Text2{
    font-size: large;
    word-spacing: 15px;
    letter-spacing: -1px;
    text-align: center;
    background-color: aqua;
    position: relative;
    bottom: 250px;
}

.Text3{
    font-size: large;
    text-transform: capitalize;
    text-align: center;
    background-color: aqua;
    position: relative;
    bottom: 250px;
}

.Text4{
    font-size: large;
    text-transform: lowercase;
    text-align: center;
    background-color: aqua;
    position: relative;
    bottom: 250px;
}

.Text5{
    font-size: large;
    text-transform: uppercase;
    text-align: center;
    background-color: aqua;
    position: relative;
    bottom: 250px;
}
.Text6{
    font-size: large;
    line-height: 10px;
    text-align: center;
    background-color: aqua;
    position: relative;
    bottom: 250px;
}

.Text7{
    font-size: large;
    text-shadow: 2px 2px grey;
    text-align: center;
    background-color: aqua;
    position: relative;
    bottom: 250px;
}

.Back{
    position: relative;
    bottom: 400px;
}