Body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo7GI6shfrDOM78KRlTn2cpgYRDgdkSbh676fbrM_GM8sTpV7xCA&s");
    background-repeat: repeat;
}

.h1{
    font-style: italic;
    text-align: center;
}