body{
    background-color: cadetblue;
    margin: 0;
    padding: 0;
}
*{
    font-family: "Arial";
}
.rright{
    text-align: right;
}
.back{
    background-color: white;
    height: 20px;
    opacity: 0.5;
    width: 100%;
}
.reg{
    border: black 5px solid;
    background-color: white;
    display: flex;
    margin-left: 400px;
    margin-top: 150px;
    width:50%;
    height: 500px;
    box-shadow: black 2px 5px 10px 2px;

}
.left{
    width: 60%;
    height: 400px;
    padding: 30px;
    flex-direction: column;
}
input{
    height: 30px;
    width: 80%;
    border: none;
    border-bottom: black 2px solid;
    margin-top: 40px;
    font-size: 20px;
    margin-left: 20px;
}
input:hover{
    background-color: #9f9f9f;
    opacity: 0.5;
}
.button{
    background-color: darkred;
    color: white;
    padding: 15px 32px;

    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border: orangered;
    font-weight: bold;

}
.button:hover{
    background-color: #c07900;
}
.right{
    width: 40%;
    height: 400px;
    padding: 30px;
    flex-direction: column;
    margin-right: 30px;
}
