a{
    color: goldenrod;
}
.Div1{
    box-sizing: border-box;
    background-color: #008b00;
    float: left;
    width: 33%;
    border: 2.5px solid black;
    padding: 5px 5px 15px 15px;
}

.Div2{
    box-sizing: border-box;
    background-color: gray;
    float: left;
    width: 33%;
    border: 3px solid black;
    padding: 5px 5px 15px 15px;
}

body{
    margin: 0;
    color: white;
}
