

.grid {
    width: 100%;
    display: grid;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px ;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px ;
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap:10px;
    color:white;
    text-align: center;
    font-size: 10px;
    border-radius: 200px;

}