.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Container{
    border: black solid ;
    width: 50%;
    background-color: lightblue;
}

body{
    background-color: #e19d9d;
}