.Cover{
    width : 40%;
    height : 1150px;
    background-color: white;
    margin:100px auto;
}
.Cover img{
    width : 100%;
    height: 100%;
}
.Page{
    width : 40%;
    height : 1150px;
    background-color: white;
    margin: 100px auto;
}
.Photo{
    width: 50%;
    height: 20%;
}

body{
    background-color: #445162;
}
.Paragraph{
    width:56%;
    font-size: 20px;
    color: #6e0055;
}
.Photo2{
    width: 33%;

}

.Text{
    width: 90%;
    text-indent: 50px;
}
.ContentHeader{
    color: #6e0055;
    padding: 2px;
    width: 90%;
    height: 10%;
    font-size: 30px;
}
.Razmer{
    font-size: 30px;
}
.ToLittle{
    color: #6e0055;
    padding: 2px;
    width: 90%;
    height: 10%;
    font-size: 30px;
}
.Nnn{
    color: #6e0055;
    padding: 2px;
    width: 90%;
    height: 10%;
    font-size: 30px;
}
.Nanan{
    clear: both;
}