*{
    box-sizing: border-box;
}
.info{
    float: left;

}
.options{
    float: left;
}
.pswrd{
    padding-top: 10px;
}
.cof{
    padding-top: 10px;
}
.opt{
    padding-top: 18px;
}
.back{
    color: goldenrod;
}

.info1{
    width: 50%;
}

.main{
    width: 40%;
}
.field{
    width: 30%
}
.input{
    margin: 1px;
    border-radius: 3px;
}

.Radio{
    margin-top: 8px;
}

.lefter{
    float: left;
}
.Label{
    margin-bottom: 6px;
}