html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


html{
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    height: 100%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 13px;
    background: url(../img/bg.png) repeat;
    height: 100%;
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
}

#switcher {
    height: 50px;
    padding:0;
    background:#1a1a1a;
    border-bottom: 1px solid #353535;
    z-index: 99999;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.share {
    float: right;
    margin-left: 14px;
    border-radius:2px;
    padding: 6px 0 3px 10px;
    margin-top: 3px;
    background:#333333;
}

#theme_list {
    position: relative;
}

#theme_select {
    background: #2b2b2b url(../img/download.png) no-repeat;
    width: 126px;
    display: block;
    padding: 10px 0px 9px 36px;
    color: #dfdfdf;

    background-position: 5% 53%;
    border-radius:2px;
    font-weight: 700;
    margin-top: 3px;
    margin-right: 20px;
}

#theme_select:hover {
    color:#F0F0F0;
}

#theme_dropdown_list {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px;
}

.center {
    margin: auto;
    width: 98%;
    padding: 6px 0;
    display: block;
    overflow: hidden;
}

.center ul li {
    display: inline;
    float: left;
}

.center ul li ul {
    display: none;
    height: 237px;
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: static;
    width: 218px;
    z-index: -1;
}
.center ul li ul li {
    background: #2b2b2b;
    border-bottom: 1px solid #414141;
}

.center ul li ul li:hover {
    background: #414141;
}

.center ul li ul li a {
    display: block;
    padding: 10px;
    font-weight:bold;
    min-width: 198px;
    color:#DFDFDF;
}

.center ul li ul li a:hover {
    color:#F0F0F0;
}


#iframe {
    margin: 0 auto;
    display: block;
    padding-bottom: 51px;
    height: 100%;
    width: 100%;
    transition: all 0.4s;
}

.logo {
    float: left;
    margin-right: 20px;
}

.logo img {
    opacity: 1;
    max-width: 80px;
    margin-top: 8px;
}

.logo img:hover {
    opacity: 0.7;
}

.links {
    float: right;
    margin-top: 3px;
}

.responsive {
    float: left;
    margin-left: 14px;
    padding: 7px 0;
    margin-top: 3px;
}

.responsive a {
    opacity:0.5;
    float: left;
    margin: 0 6px;
}

.responsive a.desktop {
    background: url(../img/devices.png) no-repeat 0 0;
    width: 20px;
    height: 19px;
}

.responsive a.tabletlandscape {
    background: url(../img/devices.png) no-repeat -30px -3px;
    width: 17px;
    height: 14px;
    margin-top: 2px;
}

.responsive a.tabletportrait {
    background: url(../img/devices.png) no-repeat -59px -1px;
    width: 14px;
    height: 17px;
    margin-top: 1px;
}

.responsive a.mobilelandscape {
    background: url(../img/devices.png) no-repeat -87px -4px;
    width: 14px;
    height: 11px;
    margin-top: 5px;
}

.responsive a.mobileportrait {
    background: url(../img/devices.png) no-repeat -117px -3px;
    width: 11px;
    height: 14px;
    margin-top: 3px;
}

.responsive a.active, .responsive a:hover {
    opacity:1;
    color: #fff;
}

.download a {
    padding: 9px 15px 8px 8px;
    float: left;
    border-radius: 2px;
    font-weight: bold;
}
.download a {
    background-color: #8DB533;
    background-image: linear-gradient(to bottom, #8DB533, #719129);
    border-color: #719129 #719129 #8DB533;
    box-shadow: 0 1px 0 rgba(85, 85, 85, 0.5) inset;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}
.download a:hover {
    background-color: #8DB533;
    background-image: none;
    border-color: #719129;
    box-shadow: 0 1px 0 rgba(85, 85, 85, 0.6) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.download a:focus {
    background-color: #222;
}

.download a img {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
}

.close a {
    padding: 9px 15px 10px 10px;
    float: left;
    border-radius: 2px;
    font-weight: bold;
    margin-left: 15px;
}

.close a img {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
}

.close a {
    background-color: #3b3b3b;
    background-image: linear-gradient(to bottom, #2a2a2a, #3b3b3b);
    border-color: #3b3b3b #3b3b3b #555555;
    box-shadow: 0 1px 0 rgba(85, 85, 85, 0.5) inset;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.close a:hover {
    background-color: #444;
    background-image: none;
    border-color: #555555;
    box-shadow: 0 1px 0 rgba(85, 85, 85, 0.6) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.close a:focus {
    background-color: #222;
}

img.preview {
    display: none;
    position: absolute;
    z-index:9999;
    top: 8px;
    left: 242px !important;
    background: #2b2b2b ;
    padding: 7px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.7);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.7);
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
}

.preview{
    position:absolute;
    display:none;
    padding: 3px;
    padding-bottom: 1px;
    background: #fff;
    border: 1px solid #242424;
}

.preview img
{
    width: 400px;
}

.center ul li ul li:hover img.preview {
    display: inline;
    opacity:1;
}

.center ul li ul li span {
    float: right;
    font-size: 11px;
    font-weight:bold;
    background: #21759B;
    border-radius: 2px;
    padding: 3px 8px;
    color: #ffffff;
    margin-top: -2px;
    min-width: 40px;
    text-align: center;
}



@media (min-width: 768px) and (max-width: 979px) {
    .share,
    .responsive{
        display:none;
    }

    img.preview {
        width: 360px;
    }
}

@media (max-width: 767px) {
    .share,
    .responsive{
        display:none;
    }

    img.preview {
        width: 300px;
        left: 191px;
    }

    #theme_select {
        width: 160px;
    }

    .center ul li ul li a {
        min-width: 190px;
    }

    .center ul li ul {
        width: 168px;
    }

    .logo {
        margin-right: 10px;
    }

    .download a {
        padding: 9px 15px 8px 8px;
    }

    .close a {
        padding: 10px 5px;
        margin-left: 6px;
    }

    .links {
        font-size: 11px;
    }
}


@media (max-width: 480px) {

    #theme_select {
        width: 145px;
    }

    img.preview {
        display: none !important;
    }

    .center {
        width: 95%;
    }

    .download a {
        padding: 7px 4px 7px 5px;
    }

    .close a {
        padding: 10px 5px;
        margin-left: 6px;
    }

    .links {
        font-size: 0;
    }

    .download a img, .close a img {
        margin-right: 0;
    }
}