body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #2f2f2f;
}
div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*navbar*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: #FFFFFF;
    z-index: 100;
    padding-left: 60px;
    padding-right: 64px;
}

.navbar-brand{
    font-family: 'Lucida', serif;
    font-size: 30px;
    color: red;
}

.navbar-collapse
{
    padding-left: 252px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #2f2f2f;
}
.navbar-collapse ul li
{
    display: inline-block;
    margin-right: 50px;
}
.navbar-collapse ul li:last-child
{
    margin-right: 0;
}
.navbar-collapse ul li a
{
    font-size: 12px;
    text-transform: uppercase;
    color: #2f2f2f;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.navbar-collapse ul li a:hover
{
    color: #937c6f;
}
.social
{
    padding-right: 0%;
    margin-right: 0%;
}
.social ul li
{
    display: inline-block;
    margin-right: 36px;
}
.social ul li:last-child
{
    margin-right: 0;
}
.social ul li a i
{
    font-size: 24px;
    color: #937c6f;
}
.social ul li a i:hover
{
    color: #e0e3e4;
}

section {
    display: block;
    position: relative;
    box-sizing: border-box;
}
.section_subtitle {
    font-size: 14px;
    font-weight: 600;
    color: #937c6f;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.section_title {
    font-family: 'Lucida', serif;
    font-size: 60px;
    text-transform: uppercase;
    color: #2f2f2f;
    margin-top: -4px;
}

.promo {
    padding-top: 88px;
}
.promo_container {
    margin-top: 75px;
}
.promo_item {
    width: 100%;
}
.promo_image {
    width: 100%;
}
.promo_image img {
    width: 100%;
}
.promo_link {
    width: 100%;
    height: 60px;
    background: #2f2f2f;
    text-align: center;
}
.promo_link a {
    display: block;
    font-family: 'Lucida', serif;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 60px;
}
.promo_link:hover {
    background: #222222;
}
.promo_link:hover a {
    color: #937c6f;
}
.promo_content {
    position: absolute;
    top: 43.6%;
    z-index: 1;
}
.promo_content_2 {
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(35, 35, 35, 0.63);
    padding-bottom: 9px;
    padding-top: 2px;
}
.promo_title {
    font-family: 'Lucida', serif;
    font-size: 30px;
    color: #FFFFFF;
}
.promo_subtitle {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -3px;
}

.footer
{
    padding-top: 80px;
}
.footer_logo a
{
    font-family: 'Lucida', serif;
    font-size: 60px;
    color: #232323;
}
.footer_nav
{
    margin-top: 14px;
}
.footer_nav ul li
{
    display: inline-block;
    margin-right: 53px;
}
.footer_nav ul li:last-child
{
    margin-right: 0;
}
.footer_nav ul li a
{
    font-size: 12px;
    text-transform: uppercase;
    color: #232323;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.footer_nav ul li a:hover
{
    color: #937c6f;
}
.footer_social
{
    margin-top: 51px;
}
.footer_social ul li
{
    display: inline-block;
    margin-right: 36px;
}
.footer_social ul li:last-child
{
    margin-right: 0;
}
.footer_social ul li a i
{
    font-size: 24px;
    color: #937c6f;
}
.footer_social ul li a i:hover
{
    color: #e0e3e4;
}

.home
{
    width: 100%;
}
.home_background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home_container
{
    width: 100%;
    height: 397px;
}
.home_content
{
    position: absolute;
    left: 0;
    top: 62.4%;
}
.home_title
{
    font-family: 'Lucida', serif;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 0.75;
    position: relative;
    display: inline-block;
}
.breadcrumbs
{
    margin-top: 6px;
}
.breadcrumbs ul li
{
    display: inline-block;
    position: relative;
    font-family: 'Lucida', serif;
    font-size: 16px;
    color: #FFFFFF;
}
.breadcrumbs ul li a
{
    font-family: 'Lucida', serif;
    font-size: 16px;
    color: #FFFFFF;
}
.breadcrumbs ul li::after
{
    display: inline-block;
    content: '/';
    margin-left: 6px;
}
.breadcrumbs ul li:last-child::after
{
    display: none;
}
.breadcrumbs ul li a:hover
{
    color: #937c6f;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}

.adada{
    width: 100%;
    background-image: url(https://sun9-57.userapi.com/c854028/v854028979/214c1b/jmRQjONXJ24.jpg);
    background-size: cover;
    height: 450px;
}

.col-lg-3{

}
.ppp{
    margin: 0px 10px 24px;
    width: 300px;
    height: 460px;
}
.ppp img{
    width: 100%;
}
.ppp img:hover{
    padding: 2px 2px 2px 2px;
    width: 100%;
    opacity: 0.7;
}
.item-text{
    font-family: sans-serif;
    line-height: 35px;

}
.item-name{
    font-size: 33px;
    font-weight: bold;
}
.item-desc{
    font-size: 20px;
}
.item-text2{
    font-family: sans-serif;
    line-height: 28px;

}
.item-name2{
    font-size: 27px;
    font-weight: bold;
}
.item-desc2{
    font-size: 15px;
}
.row{
    margin-top: 40px;
}

.pppBig{
    margin-right: 20px;
    margin-left: 80px;
    width: 500px;
}
.pppBig img{
    width: 100%;
}
.input-group mb-3{
    position: relative;
}

.adadaBezPhoto{
    width: 100%;
    background-size: cover;
    height: 300px;
    background-color: #e19d9d;
}
.text{
    background-color: white;
    font-family: sans-serif;
    font-size: 50px;
}

.Text-container {
    position: relative;
    top: 40%;
}

.tdd{
    width: 300px;
}

.td-name{
    font-family: sans-serif;
    font-size: 30px;
}
.td-desc{
    font-family: sans-serif;
    font-size: 17px;
}

.vertical-menu {
    font-family: sans-serif;
    width: 300px;
    margin-top: 50px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    color: Black;
}

.lg7photo img{
    width :100%
}