body {
    background-color: #333;
    font-family: sans-serif;
    box-sizing: border-box;

}
.ICON{
    width: 33%;
    height:15%;
    float: left;
}
.ICON image{
    width: 100%;
    height: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #1f1e1d;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: -1px;
}
.probel{
    float: right;
}
.minis{
    float: right;
    margin-left: 5%;
    margin-right: 5%;
 }

.Menu{
    word-spacing: 70%;
    float: right;
    margin-top: 0.5%;
}

.topnav a:hover {
    color: darkred;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.Reclama{
    width: 70%;
    height: 70%;
}
.Reclama2{
    width: 50%;
    height: 70%;
}

.Reclama img{
    width: 100%;
    height: 100%;
}

.Product{
    width: 70%;
   margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ProductPhoto{
    float: left;
    width: 50%;

}
.ProductPhoto img{
    float: left;
    width: 100%;
    height: 100%;
}

.ProductContent{
    color: white;
    float: right;
    width: 50%;

}
.ProductTitle{
    font-weight: bold;
    font-size: 200%;
}


.button {
    background-color: darkred;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
select{
    height: 15px;
}
.Stars{
    width: 30%;
    float: left;
}
.ICON2{
    margin-top: 3%;
    margin-left: 2%;
    width: 5%;
    float: left;
}
.nav1{
    float: left;
    list-style: none;
    margin-left: 10%;
}
.nav2{
   float: right;
    margin-right: 5%;
}

.Menu2{
    color: white;
}
ul{
    list-style-type: none;
}

/*fieldset{*/
/*    width: 49%;*/
/*    padding: 0;*/
/*}*/
.Mini {
    width: 25px;
    float: right;
}
.Mini image{
    width: 100%;
    height: 100%;
}


